{
  "printWidth": 1000,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "requirePragma": false,
  "insertPragma": false,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
