---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
  <h2>What is a webring?</h2>

  <p>A <a href="https://en.wikipedia.org/wiki/Webring">webring</a> is a human-curated list of websites organized around a specific topic. This webring is dedicated to people interested in design systems.</p>

  <h2>How to join</h2>

  <p>To join the webring, copy and paste the <a href="#web-component">web component</a> or the <a href="#code-snippet">code snippet</a> somewhere on your website, and then <a href="{{ meta.repo }}/compare">open a pull request</a> and supply the name and URL of your site in the <a href="{{ meta.repo }}/blob/master/src/data/members.json">members.json</a> file.</p>

  <h2 id="web-component">Add the web component</h2>

  <p>Copy this code snippet into your website to add the web component:</p>

  {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

  <p>It will render the below banner that links to the other members. Please note that this is a work-in-progress and the styling will get better over time:</p>

  {% include 'web-component.njk' %}

  <h2 id="code-snippet">…Or, add the code snippet</h2>

  <p>If you want more control or to create a custom banner, copy and paste the below html snippet somewhere on your website:</p>

  {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

  <p>You can style the presentation of this code however you like, as long as it’s done in an accessible way.</p>

  <h2>Who made this?</h2>

  <p><a href="https://arielsalminen.com">Ariel Salminen</a>, with help from <a href="https://mxb.dev/">Max Böck</a>’s <a href="https://github.com/maxboeck/webring/">webring project</a>.</p>
</div>
