---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
  <h2>What is a webring?</h2>

  <p>A <a href="https://en.wikipedia.org/wiki/Webring">webring</a> is a human-curated list of websites organized around a specific topic. This webring is dedicated to people interested in design systems.</p>

  <h2>How to join</h2>

  <ol>
    <li>Read our <a href="https://github.com/arielsalminen/design-system.club/blob/master/.github/CODE_OF_CONDUCT.md">code of conduct</a>.</li>
    <li>Copy and paste the <a href="#web-component">web component</a> or the <a href="#code-snippet">html code snippet</a> somewhere on your website.</li>
    <li><a href="{{ meta.repo }}/compare">Open a pull request</a> and supply the name and URL of your website in the <a href="{{ meta.repo }}/blob/master/src/data/members.json">members.json</a> file.</li>
  </ol>

  <h2>This webring accepts</h2>

  <p>If you think you belong here, chances are you do. People of any level of skill or experience in the industry doing design systems work are welcome. Being listed requires:</p>

  <ol>
    <li>An interest in design systems,</li>
    <li>A personal website, and</li>
    <li>Using our webring code somewhere on your website.</li>
  </ol>

  <h2>This webring does not accept</h2>

  <p>This webring is focused on people. Because of this, it is not interested in listing design system companies and professional organizations. Please refer to our <a href="https://github.com/arielsalminen/design-system.club/blob/master/.github/CODE_OF_CONDUCT.md">code of conduct</a> for further information about acceptable and unacceptable behavior.</p>

  <h2 id="web-component">List the webring on your website</h2>

  <h3 id="web-component">1. Add the web component</h3>

  <p>Copy this code snippet into your website to add the web component:</p>

  {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

  <p>It will render the below banner that links to the other members. Please note that this is a work-in-progress and the styling will get better over time:</p>

  {% include 'web-component.njk' %}

  <h3 id="code-snippet">2. …Or, add the code snippet</h3>

  <p>If you want more control or to create a custom banner, copy and paste the below html snippet somewhere on your website:</p>

  {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

  <p>You can style the presentation of this code however you like, as long as it’s done in an accessible way.For a live example, see <a href="https://arielsalminen.com/webrings/">Ariel’s implementation</a>.</p>

  <h2>Who made this?</h2>

  <p><a href="https://arielsalminen.com">Ariel Salminen</a>, with help from <a href="https://mxb.dev/">Max Böck</a>’s <a href="https://github.com/maxboeck/webring/">webring project</a> and <a href="https://ericwbailey.website">Eric Bailey</a>’s <a href="https://a11y-webring.club/">a11y-webring project</a>.</p>
</div>
